#header {
    background-color: $primary-color;
    border-bottom: $secondary-color solid 3px;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

.header__text {
    color: white;
    font-family: $font;
    font-size: 35px;
}

#header__items__arrangement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo {
    padding-left: 10px;
}

#navbar__button {
    margin-right: 15px;
}

.LinkText__noColor__new {
    color: white;
    background-color: transparent;
    text-decoration: none;
}