.team__index {
    background-color: #e5e5e5;

    & a {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: white;
        border-radius: 15px;
    }

    & img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

}

.team__index a:hover {
    animation-name: bigger;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    box-shadow: 0px 5px 30px black;
    text-decoration: none;
}

.team__image {
    @include size(100%, auto);
}


.LinkText__noColor {
    color: #002244;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-style: bold;
    padding-top: 8%;
    font-size: 25px;
}

@keyframes bigger {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.05, 1.05);
    }
}

.team__spacing {
    padding-top: 40px;
}

@media (max-width:991px) {

    .team__index a {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .team__index a {
        border-radius: 10px;
    }

    .team__index img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .team__spacing {
        padding-top: 5px;
    }
}

@media (max-width:576px) {

    .team__index a {
        border-radius: 10px;
    }

    .team__index img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}